<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gracias por tu donativo | Conquistando Sonrisas A.C.</title>
</head>

<body>
  <h2>
    ¡Hola {{nombre}}!
  </h2>

  <p>
    Muchas gracias por tu donacion {{type}} por {{monto}}, con tu ayuda podremos seguir apoyando a muchos más
    niños, niñas y adolescentes en su batalla contra el cáncer.
  </p>
  <p>
    Sino también puedes mandarnos un mensaje por <a
      href="https://wa.me/{{phone}}?text={{textMessage}}">WhatsApp</a>.
  </p>
  <caption>
    Este correo fue enviado a {{to}} desde una cuenta automática que no recibe respuestas.
  </caption>
</body>

</html>